h1{
	font-size: 40px;
}

.header {
 display: flex;
 width: 100%;
 border-bottom: 2px solid black;
 margin-bottom: 30px;
}
.header img{
	margin: 10px 0px;
}
.header span{
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
	display: inline-block;
	color: mediumaquamarine;
	text-align: center;
	align-items: center;
	padding: 30px 0px 0px 10px;
}

.header nav{
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	justify-content: space-around;
	flex-basis: 600px;
	width: 100%;
	padding-left: 600px;
	padding-bottom: 20px;
}

nav span{
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
	text-decoration: none;
	justify-content: flex-end;
}

a{
	text-decoration: underline;
	color: black;
}

.container{
	border: 1px solid blue;
	display: flex;
}

#column-large{
	display: block;
}

.column-large{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 630px;
}

 .column-span {
  	width: 600px;
  	position: absolute;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 40px;
  	color: white; 
  	padding-left: 5px;
  	height: 300px;
  }

  .column-large-mid{
  	width: 315px;
  	display: inline-flex;
  	flex-flow: column;
  	align-content: stretch;
  }

  .column-large-mid span{
  	font-size: 30px;
  	position: absolute;
  	font-family: Georgia;
  	padding-left: 5px;
  	color: white;
  	align-content: stretch;
  	top: 1000px;
  }

#column-medium{
	display: inline-flex;
	width: 300px;
	/* remove border later*/
	border: 1px solid red;
	flex-direction: row;
	align-content: flex-start;
	flex-flow: column;

}

.column-small{
	display: flex;
	width:240px;
	/* remove border later*/
	border: 1px solid red;
}