h1{
	font-size: 40px;
}

.header {
 display: flex;
 width: 100%;
 border-bottom: 2px solid black;
 margin-bottom: 30px;
}
.header img{
	margin: 10px 0px;
}
.header span{
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
	display: inline-block;
	color: mediumaquamarine;
	text-align: center;
	align-items: center;
	padding: 30px 0px 0px 10px;
}

.header nav{
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	justify-content: space-around;
	flex-basis: 600px;
	width: 100%;
	padding-left: 600px;
	padding-bottom: 20px;
}

nav span{
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
	text-decoration: none;
	justify-content: flex-end;
}

a{
	text-decoration: underline;
	color: black;
}

.container{
	display: flex;
}

#column-large{
	display: block;
}

.column-large{
	display: block;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 630px;
}

.column-large img{
  	position: relative;
  	display: inline-flex;
  }

 .column-large span{
  	width: 600px;
  	position: absolute;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 40px;
  	color: white; 
  	padding-left: 5px;
  	height: 300px;
  	top: 150px;
  }

  .column-large-mid{
  	width: 315px;
  	height: 609px;
  	display: inline-flex;
  	flex-flow: column;
  	align-content: stretch;
  	justify-content: space-between;
  }

  .column-large-mid span{
  	font-size: 30px;
  	position: absolute;
  	font-family: Georgia;
  	padding-left: 5px;
  	color: white;
  	align-content: stretch;
  	top: 1000px;
  }

  .column-span-2 {
  	width: 300px;
  	position: absolute;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white; 
  	height: 300px;
  	text-align: center;
  }

#column-medium{
	display: inline-flex;
	width: 300px;
	flex-direction: column;
	align-content: flex-start;
	flex-flow: column;
	position: relative;
	bottom: 467px;

}

.column-medium img{
	position: relative;
}

.column-small{
	display: inline-flex;
	width:240px;
	flex-direction: column;
	align-content: flex-start;
	flex-flow: column;
	position: relative;
	bottom: 893px;
	left: 314px;
}

.column-small span{
	align-self: center;
	text-decoration: bold;
	font-size: 30px;
}

.news{
	width: 240px;
	height: auto;
	border-bottom: 1px solid black;
	align-content: center;
	background-color: WhiteSmoke;
  	color: DimGray;
  	box-sizing: border-box;
}

.news span{
	padding: 11px 20px;
	font-family: Verdana;
  	font-size: 12px;
  	display: block;
}

.peter-span{
  	position: absolute;
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	text-align: center;
  	padding-top: 18px;
  	display: inline-block;
  	top: 500px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 325px;
  	font-family: Verdana;
  	font-size: 12px;
  	margin: auto;
  	background-color: #66CDAA;
  	flex-direction: column;
  	}

.footer span{
	color: white;
}

.footer nav{
	display: inline-block;
	padding-left: 12px;
}
.copywright{
	display: block;
	color: black;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
}